form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  inset: 0;
}

.successMessage {
  padding: 5px 0;
  font-size: 21px;
  font-weight: 600;
  color: #96bb7c;
}

.progress {
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 577px;

  & > h2 {
    font-size: var(--font-size-huge);
    font-weight: var(--font-weight-semi-bold);
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
  }

  & > p {
    margin: 14px 0 25px;

    font-size: var(--font-size-xlarge);
    line-height: 140%;
    text-align: center;
    letter-spacing: 2.07px;
  }

  & > p > span {
    font-weight: var(--font-weight-medium);
    color: var(--color-blue);
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 54px 0;

  background-image: url('@/img/background-pattern.jpg');
  border-radius: 24px;
}

.nameFormBlock {
  display: flex;
  flex-direction: column;
  max-width: 579px;
  margin: 0 auto;
}

.customFileUpload {
  cursor: pointer;
  display: flex;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--color-gray);
}

.customFileUpload input {
  display: none;
}

.firstName {

}

input {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 6px;

  font-size: var(--font-size-small) !important;

  background: transparent;
  border: none;
  border-bottom: 1px solid var(--color-gray);
  border-radius: 0;
  outline: none;

  &:focus {
    border-bottom: 1.5px solid var(--color-blue-lighter);
  }
}

.messageFormBlock {
  padding-top: 20px;
}

.messageInput {
  resize: none;
  min-height: 120px;
}

.sendFileField {
  & label > p {
    font-size: var(--font-size-small);
    color: var(--color-gray);
  }

  & label > p > span {
    font-weight: var(--font-weight-medium);
    color: var(--color-dark-field);
  }
}

.customFileUpload__input {
  background-color: #5F91E7;
}

.button {
  margin-top: 50px;
}


.alert {
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}


@media screen and (width <= 1200px) {

}

@media screen and (width <= 991px) {
}

@media screen and (width <= 500px) {
  .wrapper {
    padding: 0 10px;
  }

  .formContainer {
    padding: 54px 20px;
  }

  .title {
    & > h2 {
      font-size: var(  --font-size-xxlarge);
    }

    & > p {
      margin: 14px 0 25px;
      font-size: var( --font-size-regular);
    }

  }
}