.wrapper {
  padding: 0 10px;
}

.equipmentContainer {
  padding: 44px 63px 89px;
  background-image: url("@/img/background-pattern.jpg");
  background-repeat: repeat-y;
  border-radius: 24px;
}

.equipmentTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 58px;

  & > h2 {
    margin-bottom: 20px;

    font-size: var(--font-size-huge);
    font-weight: var(--font-weight-semi-bold);
    text-align: center;
    text-transform: uppercase;
  }

  & > p {
    font-size: var(--font-size-regular);
    font-variant: all-small-caps;
    text-align: center;
    letter-spacing: 1.62px;
  }
}


.equipments {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 57px 40px;
  place-items: center center;
  align-items: stretch;

}

.equipmentsCard {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 384px;
  height: auto;
  padding: 20px;

  background-color: var(--color-light);
  border-radius: 24px;
  box-shadow: 5px 4px 21px 0 rgb(0 0 0 / 25%);
}

.equipmentsCardImg {
  & > img {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
    background-position: center;
    background-size: cover;
  }
}

.equipmentsCardInfo {
  padding-top: 10px;
  text-align: center;

  & > h3 {
    font-size: var(--font-size-xxsmall);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-s);
  }

  & > p {
    font-size: var(--font-size-small);
    letter-spacing: 0.42px;
  }
}

@media screen and (max-width:500px) {
  .equipmentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
  }

  .equipments {
    gap: 20px 40px;
  }

  .equipmentTitle {
    margin-bottom: 58px;

    & > h2 {
      margin-bottom: 20px;
    }

  }

  .equipmentsCard {
    align-items: center;

    max-width: 320px;
    height: auto;
    padding: 10px;

    background-color: var(--color-light);
    border-radius: 24px;
    box-shadow: 5px 4px 21px 0 rgb(0 0 0 / 25%);
  }
}