.main {
  margin-top: 83px;
  margin-bottom: 83px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 50px 126px 120px;

  background-image: url("@/img/background-pattern.jpg");
  border-radius: 47px;
}

.companyInfo {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > h2 {
    margin: 15px 0;
    font-size: var(--font-size-huge);
    font-weight: var(--font-weight-semi-bold);
    text-transform: uppercase;
  }

  & > p {
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
    letter-spacing: 1.62px;
  }

}

.description {
  display: flex;
  align-items: center;
}

.textContainer {
  margin: 0 0 0 60px;
  letter-spacing: 0.75px;


  & > p {
    margin-bottom: 30px;

    font-size: var(--font-size-xxlarge);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-s);
    text-align: justify;

    &:last-child {
      margin: 0;
    }

    & > span {
      font-weight: var(--font-weight-semi-bold);
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: 1fr;
  gap: 30px;

  padding-top: 40px;
}

.card {
  display: flex;
  grid-row-gap: 10px;
  align-items: center;

  //max-width: 500px;
  height: auto;

  //margin-right: 30px;
  padding: 90px 60px;

  background-color: var(--color-light);
  border-radius: 24px;
  box-shadow: 7px 4px 40px 0 rgb(0 0 0 / 20%);

  &:last-child {
    margin-right: 0;
  }

  & > p {
    font-size: var(--font-size-large);
    line-height: 131.5%;
  }

  & > p > span {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-semi-bold);
    line-height: 144%;
  }
}

.purposes {
  margin-top: 70px;


  & > p {
    margin-bottom: 35px;

    font-size: var(--font-size-large);
    line-height: var(--line-height-s);
    text-align: justify;
    letter-spacing: 0.6px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & > p > span {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
  }
}

