:root {
  --color-dark: #000;
  --color-dark-80: #000C;
  --color-light: #FFF;
  --color-blue-lightest: #3DA4EE;
  --color-blue-lighter: #2783C5;
  --color-blue-medium: #2552A0;
  --color-blue-darker: #0053FF;
  --color-blue-darkest: #3EABFA;
  --color-blue-extra: #054878;
}