.container {

  flex-wrap: wrap;

  width: 100%;
  min-width: 370px;
  max-width: 1316px;

  //height: auto;
  margin: 0 auto;

  border: 0.5px solid #3DA4EE;

  //border: 1px solid blueviolet;
  //
  //@media screen and (width <= 1200px) {
  //  width: 96%;
  //}
  //
  //@media screen and (width <= 991px) {
  //  width: 80%;
  //}
  //
  //@media screen and (width <= 640px) {
  //  width: 90%;
  //}
}