.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 586px;
  padding: 100px 0;
}

.contacts {
  font-size: var(--font-size-huge);
  font-weight: var(--font-weight-semi-bold);
  text-transform: uppercase;
}

.subtitle {
  margin: 35px 0 70px;

  font-size: var(--font-size-xxsmall);
  font-weight: var(--font-weight-light);
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.57px;
}

.companyName,
.tel,
.email {
  font-size: var(--font-size-xxlarge);
  font-weight: var(--font-weight-semi-bold);
  letter-spacing: 0.75px;
}

.tel {
  margin: 35px 0;

  & > a {
    color: var(--color-dark);
    text-decoration-line: none;
  }
}

.email {
  & > a {
    color: var(--color-dark);
    text-transform: uppercase;
  }
}

@media screen and (width <= 500px) {
  .footer{
    padding: 70px 0;
  }

  .contacts {
    font-size: var(--font-size-xxxlarge);
    font-weight: var(--font-weight-semi-bold);
    text-transform: uppercase;
  }

  .subtitle {
    margin: 35px 0;
  }

  .companyName,
  .tel,
  .email {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-semi-bold);
    letter-spacing: 0.75px;
  }
}