.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 100%;
  height: 500px;

  font-size: var(--font-size-enormous);
  font-weight: var(--font-weight-bold);
  line-height: 140%;
  color: var(--color-light);
  text-align: center;
  letter-spacing: 1.8px;

  background-image: url("@/img/truck.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.imageMers {
  position: relative;

  overflow: hidden;
  display: inline-block;

  min-width: 100%;
  height: 532px;
  margin: 100px 0;

  background-image: url("@/img/mercedes-truck.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}