.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;


  font-size: var(--font-size-enormous);
  font-weight: var(--font-weight-bold);
  line-height: 140%;
  color: var(--color-light);
  text-align: center;
  letter-spacing: 1.8px;

  background-image: url("@/img/truck.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  min-width: 375px;

  @media screen and (max-width: 980px) {
    font-size: var(--font-size-huge);
  }
  @media screen and (max-width: 910px) {
    height: 300px;
  }

  @media screen and (max-width: 720px) {
    font-size: var(--font-size-xxxlarge);
  }

  @media screen and (max-width: 500px) {
    height: 200px;
    font-size: var(--font-size-large);
  }
}

.imageMers {
  min-width: 375px;
  width: 100%;
  position: relative;

  overflow: hidden;
  display: inline-block;
  //height: 450px;
  height: 450px;
  margin: 100px 0;

  background-image: url("@/img/mercedes-truck.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 910px) {
    height: 300px;
    margin: 35px 0;
  }
  @media screen and (max-width: 500px) {
    height: 190px;
    margin: 35px 0;
  }
}
