.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 100%;
  height: 500px;

  font-size: var(--font-size-enormous);
  font-weight: var(--font-weight-bold);
  line-height: 140%;
  color: var(--color-light);
  text-align: center;
  letter-spacing: 1.8px;

  background-image: url("@/img/truck.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.imageMers {
  position: relative;

  overflow: hidden;
  display: inline-block;

  min-width: 100%;
  height: 532px;
  margin: 100px 0;

  background-image: url("@/img/mercedes-truck.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 586px;
  padding: 100px 0;
}

.contacts {
  font-size: var(--font-size-huge);
  font-weight: var(--font-weight-semi-bold);
  text-transform: uppercase;
}

.subtitle {
  margin: 35px 0 70px;

  font-size: var(--font-size-xxsmall);
  font-weight: var(--font-weight-light);
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.57px;
}

.companyName,
.tel,
.email {
  font-size: var(--font-size-xxlarge);
  font-weight: var(--font-weight-semi-bold);
  letter-spacing: 0.75px;
}

.tel {
  margin: 35px 0;

  & > a {
    color: var(--color-dark);
    text-decoration-line: none;
  }
}

.email {
  & > a {
    color: var(--color-dark);
    text-transform: uppercase;
  }
}