
.intro {
  padding: 100px 0 0 58px;
}

.subtitle {
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-medium);
  letter-spacing: 1.8px;
}

.mainText {
  box-sizing: border-box;
  margin: 30px -3px 23px;
  padding: 17px 0;

  font-family: var(--font-family-primary);
  font-size: 75px;
  font-weight: 800;
  text-transform: uppercase;

  background-image: url('@/img/mercedes-truck.jpg');
  background-position: 50% 80%;

  /* stylelint-disable property-no-vendor-prefix */
  -webkit-background-clip: text;
  background-size: cover;
  /* stylelint-enable property-no-vendor-prefix */
  -webkit-text-fill-color: transparent;
}

.description {
  max-width: 510px;
  margin-bottom: 40px;

  font-size: var(--font-size-xxxlarge);
  font-weight: var(--font-weight-light);
  line-height: 108.023%;
}

@media screen and (width <= 1024px) {
  .intro {
    padding: 50px 10px 18px;

  }
}

@media screen and (max-width: 680px) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px 10px;
    

    & > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .subtitle {
    font-size: 9px;
    font-weight: var(--font-weight-semi-bold);
    text-align: start;
    letter-spacing: 1.08px;
  }

  .mainText {
    //margin: 21px 0 13px;
    margin: 0;
    margin-left: -2px;

    font-family: var(--font-family-primary);
    font-size: 45px;
    font-weight: 800;
  }

  .description {
    max-width: 360px;
    margin-bottom: 390px;

    font-size: 15px;
    font-weight: var(--font-weight-light);
    line-height: 108.023%;
    text-align: start;
  }
}

