.title {
  margin-bottom: 120px;

  font-size: var(--font-size-huge);
  font-weight: var(--font-weight-semi-bold);
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}


.advantages {
  padding: 100px 0;
  border: 1px solid darkred;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 100px 30px;
  place-items: center center;
  align-items: stretch;
}

.card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: auto;
  max-width: 395px;
  height: auto;
  padding: 70px 40px 40px;

  text-align: center;

  background: #fff;
  border-radius: 25px;

  &::before {
    content: "";

    position: absolute;
    z-index: -1;
    inset: calc(0px - 4px);


    background: linear-gradient(to right, #3EABFA, #5F91E7, #9DBBD1);
    border-radius: 28px;
  }

  & > h3 {
    margin-bottom: 15px;
  }
}

.circle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 125px;
  height: 125px;

  background-color: #FFF;
  border-radius: 50%;
  box-shadow: 0 0 7px -2px #000;
}

@media screen and (width <= 500px){
  .advantages {
    padding: 50px 10px;
  }

  .title {
    //display: none;
    margin-bottom: 70px;
  }

  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 10px;
    place-items: center center;
    align-items: stretch;
  }

  .card {
    max-width: 175px;
    height: auto;
    padding: 40px 5px 10px;


    font-size: 11px;
    line-height: 1.4;

    //padding: 70px 40px 40px;

    text-align: center;

    background: #fff;
    border-radius: 25px;

    &::before {
      content: "";

      position: absolute;
      z-index: -1;
      inset: calc(0px - 4px);


      background: linear-gradient(to right, #3EABFA, #5F91E7, #9DBBD1);
      border-radius: 28px;
    }

    & > h3 {
      margin-bottom: 15px;
    }
  }

  .circle {
    width: 60px;
    height: 60px;
  }
}


